<!DOCTYPE html>
<html>
  <header>
  
 
  </header>
  <br>
<body>
  
  <h4></h4>

  <div class="image_size">
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/hotel-front.jpg">
        <img src="assets/hotel-front.jpg" alt="Trolltunga Norway" width="300" height="200">
      </a>
      <div class="desc">FRONT VIEW</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/place.jpg">
        <img src="assets/place.jpg" alt="Forest" width="300" height="200">
      </a>
      <div class="desc">INSIDE</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/rooms.jpg">
        <img src="assets/rooms.jpg" alt="Northern Lights" width="300" height="200">
      </a>
      <div class="desc">DOUBLE ROOM</div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="assets/Hote1.jpg">
        <img src="assets/Hote1.jpg" alt="Mountains" width="300" height="200">
      </a>
      <div class="desc">SINGLE ROOM</div>
    </div>
  </div>
</div>
  
  <div class="clearfix"></div>

</body>
</html>