

<!DOCTYPE html>
<html>
  <div id = "wrapper" class="clearfix">

<header>
      <h2> HOTEL BOOKING </h2>
      <img src="assets/HOTEL.jpg"> 
  </header>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

<div class="topnav">
    <ul> 
       <b> <li><a routerLink="/">Home</a></li></b>
            <!-- <li><a routerLink="about">about</a></li></li></b> -->

       <b> <li><a routerLink="/reservation">Reservation</a></li></b>
       <b> <li><a routerLink="/gallery">Gallery</a></li></b>
    
    </ul> 
   </div>
<br>     
     
<router-outlet></router-outlet>
</body>

<footer>
        <Div class="footer-icon">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i> <br>
        </Div>
           copyright 2018
</footer>
</div>

</html>